table {
    border-collapse: collapse;
  }

  td,
  th {
    padding: 3px;
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #E6E6E6;
  }
  .day {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: aqua;
      margin: 20px;
  }
  .today {
      background-color: white;
  }
  .course-day {
      background-color: yellowgreen;
  }